input[type=number] {
    width: 4em; /* 2 symbols + 2rem for the increase/decrease buttons */
}

input, button, details {
    margin-top: .5em;
    margin-bottom: .5em;
}

button {
    font-size: larger;
}

#resultDice, #resultText {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    font-size: xx-large;
    text-transform: uppercase;
}

#resultDice * {
    margin: 25pt;
}

.largeDie {
    width: 212px;
    height: 212px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#resultText {
    width: max-content;
    padding: .1em 1.4em;
    border-radius: .2em;
}

#resultText.success {
    background-color: #285;
}
#resultText.failure {
    background-color: #a33;
}

.flashover {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    object-fit: contain;
    object-position: right bottom;
    opacity: 0
}
/*
#flashover.success {
    fill: #1a4;
}
#flashover.failure {
    fill: #a53;
}
*/

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #222;
    color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: inline;
}

main {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto max-content;
}

#sidebar {
    background-color: black;
    min-height: 100%;
    box-sizing: border-box;
    padding: 1em;
    padding-left: 2.5em;
    border-left: 1em solid lightgray;
    display: grid;
    grid-template-rows: 1fr auto;
    order: 2;
    background: local url("reelbar.png") repeat-y, black
}

#result-section {
    min-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

footer, a {
    color: lightgray;
}


@keyframes roll-left {
    from {
        opacity: 0;
        transform: translate3d(-120%, 0, 0) rotate3d(0, 0, 1, -135deg);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes furl-left {
    from {
        opacity: 0;
        transform: translateX(-30%) scaleX(.8);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes furl-right {
    from {
        opacity: 0;
        transform: translateX(30%) scaleX(.9);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes background-up {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 235px;
    }
}

@keyframes flashfade {
    from {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.rollin {
    animation: roll-left .5s ease-out 0s 1 normal both;
}

.fadein {
    animation: fade 1s ease-out 0s 1 normal both;
}

.fadeout {
    animation: fade .3s ease-out 0s 1 reverse both;
}

.furlin {
    animation: furl-left .2s ease-out 0s 1 normal both;
}

.furlout {
    animation: furl-right .3s ease-out 0s 1 reverse both;
}

.flashfade {
    animation: flashfade 1.4s linear 0.2s 1 normal none;
}

.background-up {
    animation: background-up .15s linear 0s infinite reverse both;
}
